/* google fonts */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* common shared style */
*{
    margin: 0;
}

.orange-alphabet{
    color: orange;
}

.primary-color-button{
    background-color: orange;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;

}

/* header style */
.header{
    background-color: #fff8f3;
    background-image: url(/images/header_bg.png);
    background-repeat:no-repeat;
    background-position: bottom right;
}

/* nav styles here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 350px;
}

nav > h3 {
    font-size: 50px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    margin-right: 20px;
}

nav > ul > li > a {
    text-decoration: none;
}


/* banner style */

.banner {
    padding: 10px 30px 0px 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner > .banner-content{
    width: 585px;
}

/* main styles here */

.about{
    margin: 40px 350px;
    background-color: #fff8f3;
    padding: 100px 150px;
    border-radius: 20px;
}

.about > .about-content {
    text-align: center;
    margin-bottom: 40px;
}

.personal-info{
    display: flex;
    justify-content: space-between;
}
.personal-info > div {
    text-align: center;
}